* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    color: white;
    align-items: center;
    background-color: #a4a4a4a4;



}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Righteous', sans-serif;
    color: rgba(255, 255, 255, 0.98);
    text-transform: uppercase;
    font-size: 2.4rem;
}

p {
    color: #fff;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 0.8rem;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
}

ul {
    list-style-type: none;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.navbar {
    background: #132B68;
   
    width: 100%;
    position: fixed;
    padding: 3rem 5rem;
    z-index: 1;


}

#logo-box {
    float: left;

}

#logo-box .logo {
    color: white;
    font-weight: 700;
    font-size: 3.2rem;
    text-transform: uppercase;

}

#nav-links {
    float: right;
}

#nav-links .nav-icon {
    display: none;
}



#nav-links .nav-item {
    float: left;
    margin: .9rem;
}

#nav-links .nav-link {
    color: white;
    font-size: 1.6rem;
    display: block;
    font-weight: 700;
    letter-spacing: 0.1rem;
    padding: 0px 1.6rem;
    text-transform: uppercase;
    transition: color;

}

#nav-links .nav-link:hover {
    color: #C2630A;
}

@media (max-width: 992px) {

    #logo-box {
        float: none;
        text-align: left;
    }

    #nav-links {
        float: none;
    }

    #nav-links .nav-link {
        font-size: 2rem;
        padding-left: 0;
    }

    #nav-links .nav-item {
        float: none;
        text-align: left;
    }

    #nav-links .nav-icon {
        display: block;
        position: absolute;
        top: 30px;
        right: 0%;

    }

    #nav-links.responsive li:not(:first-child) {
        display: none;
    }
}

header {
    height: 46rem;
    padding-top: 75px;
}



header .bg-image {
    position: absolute;
    background-image: url(header.jpg);
    background-size: cover;
    background-position: center;
    height: 46rem;
    width: 100%;
    opacity: 1;
    z-index: -1;
    top: 70px;
}

header h1 {
    padding: 12rem;
    padding-bottom: 0;
}


#baslik {
    margin-top: 70px;
    padding: 30px 0px;
    

}

#baslik hr {
    width: 70%;
    margin: auto;
}

#baslik h1 {
    color: black;
    display: block;
    align: center;
    font-size: 4rem;

}

.container {
   
    background-color: #132B68;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 30px;
    display: inline-block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 45%;
    margin: 10px 10px;
    
   

}

.wrapper {
    width: 100%;
    height: 100%;

}

img{
    height:auto;
  width: 100%;
  border-radius: 15px;
  border: 1px solid rgba(255,255,255, 0.255);
  margin-bottom: 15px;
}

.button-wrapper {
    margin-top: 15px;
}

.btn {
    border: none;
    padding: 12px 50px;
    border-radius: 24px;

    font-size: 1.8rem;
    letter-spacing: 2px;
    cursor: pointer;
    margin-top: 10px;


}

.btn+.btn {
    margin-left: 10px;

}

.outline {
    background: transparent;
    color: rgba(0, 212, 255, 0.9);
    border: 1px solid rgba(0, 212, 255, 0.6);
    transition: all .3s ease;


}

.outline:hover {
    transform: scale(1.125);
    color: rgba(255, 255, 255, 0.9);
    border-color: rgba(255, 255, 255, 0.9);
    transition: all .3s ease;
}

.fill {
    background: rgba(0, 212, 255, 0.9);
    color: rgba(255, 255, 255, 0.95);
    filter: drop-shadow(0);
    font-weight: bold;
    transition: all .3s ease;
}

.fill:hover {
    transform: scale(1.125);
    border-color: rgba(255, 255, 255, 0.9);
    filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.125));
    transition: all .3s ease;
}

@media (max-width: 992px) {
    .container {
        width: 90%;
       
    }
    img{
    height: auto;
      width: 100%;
      border-radius: 15px;
      border: 1px solid rgba(255,255,255, 0.255);
    }
}

.iletisim {
    width: 100%;
    height: auto;
    background-color: #132B68;
    padding: 30px 30px;
}

.iletisim a {
    display: block;
    font-size: 35px;
    color: white;
    margin-top: 50px;
    text-align: left;
    font-family: 'Inter', sans-serif;

}

i {
    margin-right: 150px;
}